DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

// DB_HOST=localhost   # Endereço do banco de dados
// DB_USER=usuario_aqui  # Seu usuário do banco de dados
// DB_PASS=senha_aqui  # Sua senha do banco de dados
// API_KEY=chave_aqui  # Chave da API
